.table-overflow {
  width: 80vw;
  overflow: auto;
  height: 76vh;
  padding-right: 5vw;
}
.font {
  font-size: 1rem;
}
.zoom1:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.1);
}
.zoom1 {
  transition: transform .9s;
  margin: 0 auto;
}
.zoom:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.4);
}
.zoom {
  transition: transform .9s;
  width: 90px;
  height: 90px;
  margin: 0 auto;
}
@media (max-width:500px) {
  .responsive {
    height: 100vh;
    font-size: 2rem;
  }
}
