<div class="container-fluid justify-content-start mt-5">
  <div class="d-flex justify-content-left">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Profile</th>
        <th>Reported Id</th>
        <th>Reported Name</th>
        <th>Reported Email</th>
        <th>Reported Times</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of reportedList | paginate:{ itemsPerPage:this.tableSize,
        currentPage:this.page,totalItems:this.count};let i = index">
        <td><img class="zoom" src="http://localhost:8080/{{list.reportedImage}}" width="50px" height="50px"></td>
        <td class="zoom1">{{list. reportedId}}</td>
        <td class="zoom1">{{list.reportedUserName}}</td>
        <td class="zoom1">{{list.reportedEmail}}</td>
        <td class="zoom1">{{list.reportedCount}}</td>
      </tr>
    </tbody>
  </table>
</div>
