.sidebar
{
  margin-top: -4%;
  margin-bottom: -15%;
}
.item
{
  list-style: none;
  background-color:rgba(0, 0, 0, .8);
  height: 91.6vh;
  width: 17vw;
}
.item-list
{
  margin-right: 30px;
  padding-top: 50px;
  font-weight: bold;
  font-size: 1.2vw;
  color:brown;
  cursor: pointer;
  transition: transform .9s;
  margin: 0 auto;
}
.icon
{
  color: whitesmoke;
  padding-left: 5px;
}

.item-list:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}
.hover:hover
{
  background-color:palevioletred;
  border-radius: 10px;
}
.text-hover:hover
{
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 97d6a5956686e7f34d963dc30b59020dab2d6a6c
  background-color:maroon;
  font-size: 15px;
  border-radius: 10px;
}
.notification
{
<<<<<<< HEAD
  font-weight:900;
  font-size:medium;
  color: red;
}
=======
  font-weight: bolder;
  font-size:medium;
  color: red;
}
=======
<<<<<<< HEAD
  background-color:maroon;
=======
  background-color:rgb(4, 52, 4);
>>>>>>> 76aef980cbfd3b732aa842473a19af63dabac739
  font-size: 15px;
  border-radius: 10px;
}
>>>>>>> ecefed146e08f8c5d7c4f7dc2d4c85501ecaa656
>>>>>>> 97d6a5956686e7f34d963dc30b59020dab2d6a6c
