<div class="container-fluid justify-content-start mt-5 table-overflow  shadow-lg p-3 mb-5 bg-body rounded">

  <table class="table table-striped">
    <span class="Profile-Image"><img class="rounded-circle width" src="http://localhost:8080/{{this.ProfilePhoto}}" width="100px" height="100px"></span>
    <tbody>
      <tr>
        <th>User Name</th>
        <th>{{UserName}}</th>
      </tr>
      <tr>
        <th>Email</th>
        <th>{{Email}}</th>
      </tr>
      <tr>
        <th>Mobile</th>
        <th>{{Mobile}}</th>
      </tr>
      <tr>
        <th>Address</th>
        <th>{{Address}}</th>
      </tr>
    </tbody>
  </table>
