.table-overflow
{
  width: 50vw;
  overflow: auto;
  height: 71vh;
  padding-right: 5vw;
}
.font
{
  font-size: 1rem;
}
.card
{
  margin-top: 5vh;
  margin-left: 25vw;
}
.profile-image
{
  margin-left: 230px ;
}

.width
{
  width: 150px;
  height: 150px;
}
.btn
{
  margin-left: 17vw;
}
