<div class="container-fluid justify-content-start mt-5 table-overflow  shadow-lg p-3 mb-5 bg-body rounded">

  <table class="table table-striped">
    <span class="profile-image"><img class="rounded-circle width" src="http://localhost:55339/{{this.profilePhoto}}"
      width="100px" height="100px"></span>
    <tbody>
      <tr>
        <th>User Name</th>
        <th>{{userName}}</th>
      </tr>
      <tr>
        <th>Email</th>
        <th>{{email}}</th>
      </tr>
      <tr>
        <th>Mobile</th>
        <th>{{mobile}}</th>
      </tr>
      <tr>
        <th>Address</th>
        <th>{{address}}</th>
      </tr>
    </tbody>
  </table>
