<div class="container-fluid bg-dark sticky-bottom">
  <div class="row">
    <div class="col text-center text-white fs-2"><span>Rishta.com</span></div>
  </div>
  <div class="row text-white pt-4">
    <div class="col-sm-3"><img class="img rounded-circle" src="../../../assets/FooterLogo.jpg" width="120px"
        height="120px"><br><span class="px-3">Rishta.com</span></div>
    <div class="col-sm-3  text-success"><span class="fs-5">About Us</span>
      <ul class="list-group">
        <li class="list-group pb-3"><p class="text-white">We are a leading Indian matrimonial
          matchmaking service provider Our experienced and highly dedicated team is committed to provide
          360 degree solutions to all prospective Indian brides and grooms.</p></li>
      </ul>
    </div>
    <div class="col-sm-3  text-success"><span class="fs-5">Our Other Services</span>
      <ul class="list-group">
        <li class="list-group pb-3"><a class="text-decoration-none text-white">WeedingBazar.com</a></li>
        <li class="list-group pb-3"><a class="text-decoration-none text-white">Mandap.com</a></li>
        <li class="list-group pb-3"><a class="text-decoration-none text-white">Catar.com</a></li>
      </ul>
    </div>
    <div class="col-sm-3  text-success"><span class="fs-5">Help & Support</span>
      <ul class="list-group">
        <li class="list-group pb-3"><a class="text-decoration-none text-white">24x7 Live help</a></li>
        <li class="list-group pb-3"><a class="text-decoration-none text-white">Feedback</a></li>
        <li class="list-group pb-3"><a class="text-decoration-none text-white">FAQ.</a></li>
      </ul>
    </div>
  </div>
  <div class="row text-white pt-4">
    <div class="col-sm-5"><p>Rishta.com is part of CommunityMatrimony.com | Copyright © 2022. All rights reserved.
      This website is strictly for matrimony purpose only and not a dating website</p></div>
  </div>
  <div class="row text-end">
    <div class="col-sm-12 text-white me-5">
      <i class="me-1"><img class="rounded-circle border border-dark" src="../../../assets/fb.jpg" width="45px"
          height="45px"></i>
      <i class="me-1"><img class="rounded-circle border border-dark" src="../../../assets/linkdin.png" width="45px"
          height="45px"></i>
      <i class="me-1"><img class="rounded-circle border border-dark" src="../../../assets/twitter.png" width="45px"
          height="45px"></i>
    </div>
  </div>
</div>
