<div class="background">
  <div class="container-fluid mt-2 pt-5">
    <div class="row d-flex justify-content-around">
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top imgFirst">
          <div class="card-body bg-light">
            <p class="card-text ">Thanks Rishta.com for giving me a wonderful husband</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top imgSecond">
          <div class="card-body bg-light">
            <p class="card-text">Thanks Rishta.com for giving me a wonderful husband</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top imgThird" >
          <div class="card-body bg-light">
            <p class="card-text">Thanks Rishta.com for giving me a wonderful husband</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 d-flex justify-content-around">
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top imgFirst1" >
          <div class="card-body bg-light">
            <p class="card-text ">Thanks Rishta.com for giving me a wonderful husband</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top imgSecond1" >
          <div class="card-body bg-light">
            <p class="card-text">Thanks Rishta.com for giving me a wonderful husband</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top imgThird1" >
          <div class="card-body bg-light">
            <p class="card-text">Thanks Rishta.com for giving me a wonderful husband</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


