.imgFirst
{
  background-image: url('../../../assets/pexels-cinestyle-india-1589216-copy-0.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:286px;
  height: 350px;
  border-radius: 1vw;
  border-style: none;
  border-color: black;
  transition: transform .9s;
  margin: 0 auto;
}
.imgSecond
{
  background-image: url('../../../assets/HomeRishta1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:286px;
  height: 350px;
  border-radius: 1vw;
  border-style: none;
  border-color: black;
  transition: transform .9s;
  margin: 0 auto;
}
.imgThird
{
  background-image: url('../../../assets/pexels-zara-hamdane-6294505.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:286px;
  height: 350px;
  border-radius: 1vw;
  border-style: none;
  border-color: black;
  transition: transform .9s;
  margin: 0 auto;
}

.background
{
  background-image: url('../../../assets/pexels-nghia-trinh-931796.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height:auto;
}
.imgFirst1
{
  background-image: url('../../../assets/pexels-the-shaan-photography-5332403.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:286px;
  height: 350px;
  border-radius: 1vw;
  border-style: none;
  border-color: black;
  transition: transform .9s;
  margin: 0 auto;
}
.imgSecond1
{
  background-image: url('../../../assets/AboutRishta1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:286px;
  height: 350px;
  border-radius: 1vw;
  border-style: none;
  border-color: black;
  transition: transform .9s;
  margin: 0 auto;
}
.imgThird1
{
  background-image: url('../../../assets/pexels-anna-pou-9345717.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:286px;
  height: 350px;
  border-radius: 1vw;
  border-style: none;
  border-color: black;
  transition: transform .9s;
  margin: 0 auto;
}
.imgbottom
{
  background-image: url('../../../assets/pexels-krishna-studio-2293102.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height: 70vh;
  border-radius: 1vw;
  border-style: none;
  border-color: black;
  transition: transform .9s;
  margin: 0 auto;
}
.img-carousel-first
{
  background-image: url('../../../assets/pexels-krishna-studio-2293102.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
  border: none;
  transition: transform .9s;
  margin: 0 auto;
}
.img-carousel-second
{
  background-image: url('../../../assets/pexels-krishna-studio-2293102.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
  border: none;
  transition: transform .9s;
  margin: 0 auto;
}
.img-carousel-third
{
  background-image: url('../../../assets/hero-bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
  border: none;
  transition: transform .9s;
  margin: 0 auto;
}
.imgFirst:hover,.imgSecond:hover,.imgThird:hover,.imgFirst1:hover,.imgSecond1:hover
,.imgThird1:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}
.fonts
{
  font-family:"Open Sans";
}
/* carousel-content start */
.carousel-content
{
  padding-top: 400px;
  padding-bottom: 200px;
  color: red;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  font-family: cursive;
  background-color: rgba(0, 0, 0, .1);
}
/* carousel-content end */
@media (min-width: 500px) {
  .img-carousel-first,.img-carousel-second,.img-carousel-third{
    width: 100%;
    max-height: 100vh;
  }
}
@media (max-width: 500px){
  .img-carousel-first,.img-carousel-second,.img-carousel-third{
    width: 100%;
    height: 70vh;
  }
}
@media (max-width: 400px){
  .carousel-content{
    padding-top:200px;
    padding-bottom: 100px;
    color:palevioletred;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    font-style: italic;
    font-family: cursive;
    background-color: rgba(0, 0, 0, .1);
  }
}
