<div class=" Background">
  <div class="container-fluid mt-2 pt-5">
    <div class="row d-flex justify-content-between">
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top imgFirst" width="100px" height="100px">
          <div class="card-body bg-light">
            <p class="card-text ">Thanks Rishta.com for giving me a wonderful husband</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top imgSecond" width="100px" height="100px">
          <div class="card-body bg-light">
            <p class="card-text">Thanks Rishta.com for giving me a wonderful husband</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top imgThird" width="100px" height="100px">
          <div class="card-body bg-light">
            <p class="card-text">Thanks Rishta.com for giving me a wonderful husband</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-2 pt-5">
    <div class="row d-flex justify-content-between">
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top imgFirst1" width="100px" height="100px">
          <div class="card-body bg-light">
            <p class="card-text ">Thanks Rishta.com for giving me a wonderful husband</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top imgSecond1" width="100px" height="100px">
          <div class="card-body bg-light">
            <p class="card-text">Thanks Rishta.com for giving me a wonderful husband</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top imgThird1" width="100px" height="100px">
          <div class="card-body bg-light">
            <p class="card-text">Thanks Rishta.com for giving me a wonderful husband</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
