.margin
{
  margin-top: 30vh;
  padding-left: 30vw;
  padding-top: 35px;
  padding-bottom: 35px;
}
.container
{
  margin-bottom: 22vh;
}
.heading
{
  margin-top: 30px;
  text-align: center;
}
.validationError
{
  color: red;
  font-weight: lighter;
}
input.ng-invalid
{
  border-left:5px solid red;
}
input.ng-valid
{
  border-left: 5px solid green;
}
