
<div class="container">
  <form class=" form rounded-3 bg-light border border-2 margin shadow mb-5"
  [formGroup]="resetPassword" (ngSubmit)="submit()">
    <h3>Forgot Password</h3>
  <div class="row mt-4">
    <div class="col">
      <input type="text" id="userEmail" class="form-control w-50"
      placeholder="Useremail" formControlName="userEmail">
      <span *ngIf="(submitted || loginValidation['userEmail'].touched)
      && loginValidation['userEmail']?.errors?.['required']"
        class="validationError">email is required</span>
      <span *ngIf="(submitted || loginValidation['userEmail'].touched)
      && loginValidation['userEmail']?.errors?.['pattern']"
        class="validationError">please fill  valid email (ex:vedant@gmail.com)</span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <input type="submit"  class="btn btn-primary w-50" value="Submit" >
    </div>
  </div>
  </form>
</div>


