
<div class="container">
  <form class=" form rounded-3 bg-light border border-2 margin shadow mb-5"
  [formGroup]="resetPassword" (ngSubmit)="submit()">
    <h3>Forgot Password</h3>
  <div class="row mt-4">
    <div class="col">
      <input type="text" id="userEmail" class="form-control w-50"
      placeholder="user email" formControlName="userEmail">
      <span *ngIf="(submitted || loginValidation['userEmail'].touched)
      && loginValidation['userEmail']?.errors?.['required']"
        class="validationError">This field is required</span>
      <span *ngIf="(submitted || loginValidation['userEmail'].touched)
      && loginValidation['userEmail']?.errors?.['email']"
        class="validationError">This field valid email (ex:vedant@gmail.com)</span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <input type="password" id="password" class="form-control w-50"
       placeholder="password" formControlName="password">
      <span *ngIf="(submitted || loginValidation['password'].touched) &&
       loginValidation['password']?.errors?.['required']" class="validationError">
       This field is required</span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <input type="password" id="newPassword" class="form-control w-50"
       placeholder="confirm password" formControlName="newPassword">
       <span *ngIf="(submitted || loginValidation['newPassword'].touched) &&
       loginValidation['newPassword']?.errors?.['required']" class="validationError">
       This field is required</span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <input type="submit" [disabled]="this.resetPassword.invalid"  class="btn btn-primary w-50" value="Submit" >
    </div>
  </div>
  </form>
</div>


