.margin
{
  margin-top: 20vh;
  padding-left: 25vw;
  margin-left: -2px;
  margin-right: -2px;
  margin-bottom: 10vh;
}
.heading
{
<<<<<<< HEAD
  font-weight: bolder;
=======
  margin-top: 30px;
  text-align: center;
>>>>>>> 76aef980cbfd3b732aa842473a19af63dabac739
}
.validationError
{
  color: red;
  font-weight: lighter;
}
input.ng-invalid
{
  border-left:5px solid red;
}
input.ng-valid
{
  border-left: 5px solid green;
}
