<div class="container-fluid justify-content-start mt-5">
  <div class="d-flex justify-content-left">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
  <table class="table table-striped responsive">
    <thead>
      <tr>
        <th>Profile</th>
        <th>Request Name</th>
        <th>Request Email</th>
        <th>Acccept</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of requestList | paginate:{ itemsPerPage:this.tableSize,
        currentPage:this.page,totalItems:this.count};let i = index">
        <td><img class="zoom" (click)="imageOpen(list)" data-bs-target="#staticBackdrop" data-bs-toggle="modal"
          src="http://localhost:55339/{{list.requestImage}}" width="50px" height="50px"></td>
        <td>{{list.requestUserName}}</td>
        <td>{{list.requestEmail}}</td>
        <td><a class="btn btn-success" (click)="requestAccept(list)">Accept</a></td>
        <td><a class="btn btn-danger" (click)="decline(list)">Decline</a></td>
        <td>
          <div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content modal-color">
                <button type="button" class="btn-close btn-success" data-bs-dismiss="modal" aria-label="Close">
                </button>
                <img class="modal-img rounded-3" src="http://localhost:55339/{{image}}">
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
