.font {
  font-size: 1rem;
}
.zoom1:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.1);
}
.zoom1 {
  transition: transform .9s;
  margin: 0 auto;
}
.zoom:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.4);
}
.zoom {
  transition: transform .9s;
  width: 90px;
  height: 90px;
  margin: 0 auto;
}
.margin {
  margin-top: -30px;
  margin-bottom: 20px;
}
@media (max-width:500px) {
  .responsive {
    height: 100vh;
    font-size: 2rem;
  }
  .search-bar
  {
    width: 210vw;
  }
}
.modal-img
{
  width: 500px;
  height: 450px;
  border: none;
}
