.margin
{
  padding-left: 26vw;
  margin-left: -5px;
}
.form-overflow
{
  width: 97.8vw;
  overflow: auto;
  height: 76vh;
  padding-right: 5vw;
}
.heading
{
  margin-top: 20px;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
}
.validationError
{
  color: red;
  font-weight: lighter;
}
input.ng-invalid
{
  border-left:5px solid red;
}
input.ng-valid
{
  border-left: 5px solid green;
}
select.ng-invalid
{
  border-left:5px solid red;
}
select.ng-valid
{
  border-left:5px solid green;
}
textarea.ng-invalid
{
  border-left:5px solid red;
}
textarea.ng-valid
{
  border-left:5px solid green;
}
.text-letter
{
  text-transform:capitalize;
}
.education-letter
{
  text-transform: uppercase;
}
.label{
  font-size: 1rem;
}
@media (min-width: 500px) and (min-height:951px){
  .label{
    font-size: 1rem;
  }
}
@media (max-width: 500px) and (max-height:950px){
  .label{
    font-size: .5rem;
  }
  .heading
  {
    margin-top: 30px;
  }
}

