.table-overflow
{
  width: 80vw;
  overflow: auto;
  height: 66vh;
  padding-right: 5vw;
}
.font
{
  font-size: 1rem;
}
@media (max-width:500px) {
  .responsive {
    height: 100vh;
    font-size: .7rem;
  }
}
.gender-error
{
  color: red;
  font-weight:lighter;
  font-size: 12px;
}
.img-click
{
  cursor: pointer;
}
