<div class="container-fluid mt-5">
  <form [formGroup]="genderList">
    <div class="row">
      <div class="col-2">
        <select class="form-control" (ngModelChange)="genderData($event)"
        name="Sex" id="Sex" formControlName="Sex">
          <option>- Select Gender -</option>
          <option *ngFor="let gender of gender | keyvalue">{{gender.value}}</option>
        </select>
        <span [hidden]="!this.genderValue" class="gender-error">You can not see {{this.sex}} data</span>
      </div>
      <div class="col-2">
        <select class="form-control" (ngModelChange)="martialStatusData($event)"
        name="MartialStatus" id="MartialStatus"
          formControlName="MartialStatus">
          <option>- Select MartialStatus -</option>
          <option *ngFor="let Martial of martialStatus | keyvalue">{{Martial.value}}</option>
        </select>
      </div>
      <div class="col-2">
        <select class="form-control" (ngModelChange)="familyTypeData($event)"
        name="FamilyType" id="FamilyType"
          formControlName="FamilyType">
          <option>- Select FamilyType -</option>
          <option *ngFor="let Family of familyType | keyvalue">{{Family.value}}</option>
        </select>
      </div>
      <div class="col-2">
        <input type="button" class="form-control btn btn-primary" value="Apply all"
        (click)="dependentFilter()">
      </div>
      <div class="col-2">
        <input type="submit" id="reset" class="form-control btn btn-primary" value="Reset All"
        (click)="resetAll()">
      </div>
    </div>
  </form>
</div>
<div class="container-fluid justify-content-start mt-5 table-overflow">
  <table class="table table-striped responsive">
    <thead>
      <tr>
        <th>Profile</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Gender</th>
        <th>Martial</th>
        <th>FamilyType</th>
      </tr>
    </thead>
    <tbody>
      <tr [hidden]="this.hidden" *ngFor="let list of userList ">
        <td><img class="img-click" src="http://localhost:55339/{{list.profilePhoto}}" width="50px" height="50px"
          (click)="friendProfile(list)"></td>
        <td>{{list.userName}}</td>
        <td>{{list.email}}</td>
        <td>{{list.mobile}}</td>
        <td>{{list.sex}}</td>
        <td>{{list.martialStatus}}</td>
        <td>{{list.familyType}}</td>
        <td>
        </td>
      </tr>
      <tr *ngFor="let list of dependentBasedList ">
        <td><img class="img-click" src="http://localhost:55339/{{list.profilePhoto}}" width="50px" height="50px"
          (click)="friendProfile(list)"></td>
        <td>{{list.userName}}</td>
        <td>{{list.email}}</td>
        <td>{{list.mobile}}</td>
        <td>{{list.sex}}</td>
        <td>{{list.martialStatus}}</td>
        <td>{{list.familyType}}</td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
