.table-overflow
{
  width: 50vw;
  overflow: auto;
  height: 81vh;
  padding-right: 5vw;
}
.font
{
  font-size: 1rem;
}
.card
{
  margin-top: 5vh;
  margin-left: 25vw;
}
.Profile-Image
{
  margin-left: 230px ;
}

.width
{
  width: 150px;
  height: 150px;
  transition: transform .9s;
  margin: 0 auto;
}
.width:hover
{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2);
}
.btn
{
  margin-left: 17vw;
}
