<div class="container-fluid justify-content-start mt-4 table-overflow  shadow-lg p-3 mb-5 bg-body rounded">

  <table class="table table-striped">
    <span class="Profile-Image"><img class="rounded-circle width" src="http://localhost:8080/{{ProfilePhoto}}" width="100px" height="100px"></span>
    <tbody>
      <tr>
        <th>User Name</th>
        <th>{{UserName}}</th>
      </tr>
      <tr>
        <th>Email</th>
        <th>{{Email}}</th>
      </tr>
      <tr>
        <th>Mobile</th>
        <th>{{Mobile}}</th>
      </tr>
      <tr>
        <th>Dob</th>
        <th>{{DateOfBirth}}</th>
      </tr>
      <tr>
        <th>Password</th>
        <th>{{Password}}</th>
      </tr>
      <tr>
        <th>Address</th>
        <th>{{Address}}</th>
      </tr>
      <tr>
        <th colspan="2"><a class="btn btn-primary" (click)="Update(Id)">Update Profile</a></th>
      </tr>
    </tbody>
  </table>
