.table-overflow {
  width: 100%;
  overflow:auto;
  height: auto;
  margin-bottom: -1px;
}
.font
{
  font-size: 1rem;
}
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.4);
}
.zoom {
  transition: transform .9s;
  width: 90px;
  height: 90px;
  margin: 0 auto;
}
@media(max-width:700px)
{
  .responsive-div
  {
    width: 60vw;
  }
}
.modal-img
{
  width: 500px;
  height: 450px;
  border: none;
}
.modal-color
{
  background-color: black;
}
