<div class="container-fluid justify-content-start mt-5 table-overflow">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Profile</th>
        <th> Name</th>
        <th> Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of historyList">
        <td><img class="zoom" src="http://localhost:8080/{{list.requestImage}}"></td>
        <td class="zoom1">{{list.requestUserName}}</td>
        <td class="zoom1">{{list.requestEmail}}</td>
      </tr>
    </tbody>
  </table>
</div>
