<nav class="navbar fixed-top  navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white margin link-click" (click)="profile()"><img class="img"
      src="http://localhost:8080/{{userProfile}}">
      <br><span class="font">{{userName}}</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      <a class="nav-link text-white link-click hover" (click)="navigateToHome()">Home</a>
        <a class="nav-link text-white link-click hover" (click)="logOut()">Logout</a>
      </div>
    </div>
  </div>
</nav>
