.img
{
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 5vw;
  border-style: none;
  border-color: black;
}
.font
{
font-size: 14px;
}
.margin
{
  margin-top: -8px;
  margin-bottom: -14px;
}
.link-click{
  cursor: pointer;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 76aef980cbfd3b732aa842473a19af63dabac739
.hover:hover
{
  background-color: green;
  border-radius: 10px;
}
<<<<<<< HEAD
=======
=======
>>>>>>> 1a5366669bdaca024c8077996839e0d6ef746a42
>>>>>>> 76aef980cbfd3b732aa842473a19af63dabac739
