.font
{
  font-size: 1rem;
}
.width
{
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 450px;
  border-radius: 8px 8px 8px 8px;
}
.slider-width
{
  margin-left: 19vw;
  margin-top: 5vh;
  width: 40vw;
}
.profile-data
{
  font-size:2vw;
  background-color: rgba(0, 0, 0, .3);
}
.profile-action
{
  cursor: pointer;

}
.report-request
{
  padding-right: 80px;
}
.report-report
{
  padding-left: 80px;
}
@media(max-width:700px){
.carsol-width
{
  width:500px;
}
.carsol
{
  margin-top: 100px;
  width:110%;
  margin-left: -70px;
}
.profile-data
{
  font-size: 2vw;
  background-color: rgba(0, 0, 0, .3);
}

}
