<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-12 bg-light">
      <h3 class="heading">ABOUT US</h3>
    </div>
  </div>
  <div class="row mt-3 shadow p-3 mb-5  rounded background">
    <div class="col">
      <p>Welcome to Rishta.com! We are a leading Indian matrimonial matchmaking service provider.
        Our experienced and highly dedicated team is committed to provide 360 degree solutions to all
        prospective Indian brides and grooms.</p>
        <p>We are technology driven company providing the best platform to those who are genuinely
          looking for their soul mates. We have a long list of Happy Customers,
          who are pleased with our end-to-end services.</p>
    </div>
  </div>
  <div class="row mt-3 shadow p-3 mb-5  rounded background">
    <div class="col-4 ">
      <img class="imgSecond" width="100px" height="100px">
    </div>
    <div class="col-8 bg-light">
      <h3>What Makes Rishta.com Different</h3>
      <p>Rishta.com is a genuine matrimonial site,
        this platform opens a new world for those who are serious about commitments and
        register with us for marriage purpose only.</p>
        <p>This is not a dating site, and to discourage the registration of fake users
          , we ask for a few mandatory documents and details to
          authenticate the profile of the new users.</p>
          <p>All new users are required to complete the authentication process before
             we make their profiles live on our portal.</p>
    </div>
  </div>
  <div class="row mt-2 shadow p-3 mb-5  rounded background">
    <div class="col-4 ">
      <img class="imgFirst" width="100px" height="100px">
    </div>
    <div class="col-8 bg-light">
      <h3>Rishta.com helps you better</h3>
      <p>The site is solely managed by IncubXperts Pvt. Ltd.
         Rishta.com was started with the vision to provide a customer friendly and highly authentic
          platform for all potential users.</p>
        <p>We provide an exclusive matchmaking experience that enables our users to find
          the perfect match for them without any hassle. </p>
          <p>We believe that Rishta.com can help you to find that special person in the world
            for whom you have been waiting for all your life! All we ask is to give us a chance!
             What makes our experienced team a go-getter?</p>
    </div>
  </div>
</div>
