.Background
{
  background-image: url('./homelist/HomeBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 86vh;
  background-attachment: fixed;
}
