
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#" routerLink="">Rishta.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
     aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-white active hover" aria-current="page" routerLink="about">About</a>
        <a class="nav-link text-white hover" routerLink="contact">Contact</a>
        <a class="nav-link text-white hover" routerLink="login">Login</a>
        <a class="nav-link text-white hover" routerLink="registration">Registration</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet ></router-outlet>
<br>
<br>
<app-footer></app-footer>

