<<<<<<< HEAD
.hover:hover
{
  background-color: green;
  border-radius: 10px;
}
=======
<<<<<<< HEAD
.hover:hover
{
  background-color: green;
  border-radius: 10px;
}
=======
<<<<<<< HEAD
.hover:hover
{
  background-color: green;
  border-radius: 10px;
}
=======
<<<<<<< HEAD
/* .background
=======
<<<<<<< HEAD
/* .background
=======
.background
>>>>>>> 04c1c66b1da8c9662dc33a1d379f3a7e351a8219
>>>>>>> 98a1810ba74fc92dc55af00ebe5b1928cad3c302
{
  background-image: url('./homelist/HomeBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 86vh;
  background-attachment: fixed;
} */
>>>>>>> 1a5366669bdaca024c8077996839e0d6ef746a42
>>>>>>> 76aef980cbfd3b732aa842473a19af63dabac739
>>>>>>> ecefed146e08f8c5d7c4f7dc2d4c85501ecaa656
