.margin
{
  padding-left: 23vw;
  padding-bottom: 10px;
}
.form-overflow
{
  width: 79vw;
  overflow: auto;
  height: 72vh;
  padding-right: 2vw;
  padding-bottom: 30px;
}
.heading
{
  padding-top: 20px;
  text-align: center;
  font-weight: bolder;
}
.validationError
{
  color: red;
  font-weight: lighter;
}
input.ng-invalid
{
  border-left:5px solid red;
}
input.ng-valid
{
  border-left: 5px solid green;
}
select.ng-invalid
{
  border-left:5px solid red;
}
select.ng-valid
{
  border-left:5px solid green;
}
textarea.ng-invalid
{
  border-left:5px solid red;
}
textarea.ng-valid
{
  border-left:5px solid green;
}
.padding
{
  margin-top: 4px;
  margin-left: 200px;
}
