<h4 class="heading">Profile Update</h4>
<div class="container-fluid responsive-div">
  <form class="form mt-4 rounded bg-light border border-3 shadow-lg margin form-overflow"
  [formGroup]="registration" (ngSubmit)="submit()">
     <img hidden src="https://rishta.azurewebsites.net/{{profilePhoto}}" alt="avatar"
      class="rounded-circle  zoom padding" style="width: 100px;height:100px;">
    <div class="row mt-3">
    <div class="col-2">
      <label for="UserName">Id:<span class="validationError">*</span></label>
    </div>
    <div class="col-6 bt">
      <input  class="form-control" readonly type="text" name="Id" id="Id"
      formControlName="Id">
      <span *ngIf="registrationValidation['Id']?.errors?.['required']
      && (registrationValidation['Id']?.touched || registrationValidation['Id']?.dirty)"
      class="validationError">This field is required</span>
    </div>
   </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="UserName">Name:<span class="validationError">*</span></label>
      </div>
      <div class="col-6 bt">
        <input  class="form-control" readonly type="text" name="UserName" id="UserName"
        formControlName="UserName" oninput="this.value=this.value.replace(/^[0-9 .]/g,'')">
        <span *ngIf="(submitted || registrationValidation['UserName'].touched) &&
        registrationValidation['UserName'].errors?.['required']"
          class="validationError"> user name is required(Numeric value not allowed)
        </span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="Email">Email:<span class="validationError">*</span></label>
      </div>
      <div class="col-6 bt">
        <input class="form-control" type="email" name="Email" id="Email" formControlName="Email">
        <span *ngIf="(submitted || registrationValidation['Email'].touched)
        && registrationValidation['Email']?.errors?.['required']"
          class="validationError">email is required</span>
        <span *ngIf="(submitted || registrationValidation['Email'].touched)
        && registrationValidation['Email']?.errors?.['pattern']"
          class="validationError">please fill  valid email (ex:vedant@gmail.com)</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="Mobile">Mobile:<span class="validationError">*</span></label>
      </div>
      <div class="col-6 bt">
        <input class="form-control"  type="text" name="Mobile" id="Mobile" formControlName="Mobile"
         oninput="this.value=this.value.replace(/[^0-9 .]/g,'')" maxlength="10">
         <span *ngIf="(submitted || registrationValidation['Mobile'].touched)
         && registrationValidation['Mobile']?.errors?.['required']"
           class="validationError">mobile number is required</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="Dob">DOB:<span class="validationError">*</span></label>
      </div>
      <div class="col-6 bt">
        <input class="form-control" max={{date}}  type="date" name="Dob" id="Dob"
         formControlName="Dob">
        <span *ngIf="(submitted || registrationValidation['Dob'].touched)
        && registrationValidation['Dob']?.errors?.['required']"
        class="validationError">age must be 18 or greater than 18</span>
      </div>
    </div>
    <div hidden class="row mt-3">
      <div class="col-2">
        <label for="Password">Password:<span class="validationError">*</span></label>
      </div>
      <div class="col-6 bt">
        <input  class="form-control" type="password" name="Password" id="Password"
        formControlName="Password">
        <span *ngIf="(submitted || registrationValidation['Password'].touched)
        && registrationValidation['Password']?.errors?.['required']"
          class="validationError">password is required</span>
          <span *ngIf="(submitted || registrationValidation['Password'].touched)
        && registrationValidation['Password']?.errors?.['pattern']"
          class="validationError">please follow this pattern(Vedant@123)</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="Address">Address:<span class="validationError">*</span></label>
      </div>
      <div class="col-6 bt">
        <textarea class="form-control" rows="1" name="Address" id="Address"
        formControlName="Address"></textarea>
        <span *ngIf="(submitted || registrationValidation['Address'].touched)
        && registrationValidation['Address']?.errors?.['required']"
          class="validationError">address is required</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="Cast">Cast:</label>
      </div>
      <div class="col-6 bt">
        <input class="form-control" type="text" name="Cast" id="Cast" formControlName="Cast">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="Sex">Gender:<span class="validationError">*</span></label>
      </div>
      <div class="col-6 bt">
        <select class="form-control"  name="Sex" id="Sex" formControlName="Sex">
          <option>- Select Gender -</option>
          <option *ngFor="let gender of gender | keyvalue">{{gender.value}}</option>
        </select>
        <span *ngIf="(submitted || registrationValidation['Sex'].touched)
        && registrationValidation['Sex']?.errors?.['required']"
        class="validationError">gender is required</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="Religious">Religious:</label>
      </div>
      <div class="col-6 bt">
        <select class="form-control"  name="Religious" id="Religious" formControlName="Religious">
          <option>- Select Religious -</option>
          <option *ngFor="let religious of religious1 | keyvalue">{{religious.value}}</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="MartialStatus">Martial Status:</label>
      </div>
      <div class="col-6 bt">
        <select class="form-control"  name="MartialStatus" id="MartialStatus"
        formControlName="MartialStatus">
          <option>- Select Martial Status-</option>
          <option *ngFor="let martialstatus of marriageStatus | keyvalue">{{martialstatus.value}}</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="MotherTongue">Mother Tongue</label>
      </div>
      <div class="col-6 bt">
        <select class="form-control" name="MotherTongue" id="MotherTongue" formControlName="MotherTongue">
          <option>- Select Mother Tongue -</option>
          <option *ngFor="let mothertongue of motherTongue1 | keyvalue">{{mothertongue.value}}</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="Height">Height</label>
      </div>
      <div class="col-6 bt">
        <input class="form-control" type="text" name="Height" id="Height" placeholder="Feet"
        formControlName="Height"
          oninput="this.value=this.value.replace(/[^0-9 .]/g,'')">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="Country">Country:</label>
      </div>
      <div class="col-6 bt">
        <select (change)="onSelectCountry($event)" class="form-control"  name="Country" id="Country"
        formControlName="Country">
          <option>--Select Country--</option>
          <option *ngFor="let country of countryList" value="{{country.id}}">{{country.countries}}</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="State">State:</label>
      </div>
      <div class="col-6 bt">
        <select (change)="onSelect($event)"  class="form-control" name="State" id="State"
        formControlName="State">
          <option>--Select State--</option>
          <option *ngFor="let stateList of stateListContain" value="{{stateList.id}}">
            {{stateList.states}}</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="City">City</label>
      </div>
      <div class="col-6 bt">
        <select class="form-control"  name="City" id="City" formControlName="City">
          <option *ngFor="let cityList of cityListContain;let i = index">{{cityList.cities}}</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="HighestEducation">Highest Education:</label>
      </div>
      <div class="col-6 bt">
        <input class="form-control"  type="text" name="HighestEducation" id="HighestEducation"
        formControlName="HighestEducation">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="Occupation">Occupation:</label>
      </div>
      <div class="col-6 bt">
        <input class="form-control"  type="text" name="Occupation" id="Occupation"
        formControlName="Occupation">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="AnnualIncome">Annual Income(lakhs):</label>
      </div>
      <div class="col-6 bt">
        <input class="form-control" type="text" name="AnnualIncome" id="AnnualIncome"
        formControlName="AnnualIncome"
          oninput="this.value=this.value.replace(/[^0-9 .]/g,'')">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="ParentMobile">Parent Pho:</label>
      </div>
      <div class="col-6 bt">
        <input class="form-control" type="text" name="ParentMobile" id="ParentMobile"
        formControlName="ParentMobile"
         oninput="this.value=this.value.replace(/[^0-9 .]/g,'')" maxlength="10">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="FamilyType">Family Type:</label>
      </div>
      <div class="col-6 bt">
        <select class="form-control" name="FamilyType" id="FamilyType" formControlName="FamilyType">
          <option>- Select Family Type -</option>
          <option *ngFor="let familytype of familyType1 | keyvalue">{{familytype.value}}</option>
        </select>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <label for="FamilyStatus">Family Status:</label>
      </div>
      <div class="col-6 bt">
        <select class="form-control" name="FamilyStatus" id="FamilyStatus" formControlName="FamilyStatus">
          <option>- Select Family Status -</option>
          <option *ngFor="let familystatus of familyStatus1 | keyvalue">{{familystatus.value}}</option>
        </select>
      </div>
    </div>
     <div class="row mt-3">
        <div class="col-2">
        <label for="files">Photo:</label>
        </div>
        <div class="col-6 bt">
          <input class="form-control" type="file" (change)="handleFile($event)"
          name="files" id="files" formControlName="files"
          accept="image/x-png,image/gif,image/jpeg,image/jpg,image/jfif">
          <span *ngIf="(submitted || registrationValidation['files'].touched)
          && registrationValidation['files']?.errors?.['required']"
           class="validationError">image is required</span>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-8">
          <p><ngb-progressbar type="success" [value]="progressValue" *ngIf="progressValue"
            [striped]="true" [animated]="true">Uploading..{{this.progressValue}}%</ngb-progressbar></p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-8 bt">
         <input class="btn btn-primary w-100" type="submit" (click)="ageCalculate()">
        </div>
      </div>
  </form>
</div>
