.margin
{
  margin-top: 1vh;
  margin-bottom: -9vh;
  padding-bottom: 20vh;
  animation: myanimation 10s infinite;
}
span
{
  font-weight: bolder;
  font-size: 2.5vw;
  color: brown;
}
p{
  margin-top: 5vh;
}
.contact
{
  margin-right: 8vw;
  background-color:lavender;
  transition: transform .9s;
  margin: 0 auto;
  font-size: 1.5vw;
}
.contact1
{
  margin-left: 8vw;
  background-color:lavenderblush;
  transition: transform .9s;
  margin: 0 auto;
  font-size: 1.5vw;
}
.contact2
{
  background-color:lightcyan;
  transition: transform .9s;
  margin: 0 auto;
  font-size: 1.5vw;
}
.heading
{
  text-align: center;
  margin-top: 5px;
  animation: myanimation 10s infinite;
}
.contact1:hover,.contact2:hover,.contact:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}
@media (min-width: 500px) and (min-height:951px){
  .contact1,.contact2,.contact{
    background-color:wheat;
  }
}
@media (max-width: 500px) and (max-height:950px){
  .contact1,.contact2,.contact{
    animation: myanimation 10s infinite;
  }
}
@keyframes myanimation {
  0% {background-color:blueviolet;
      color: bisque;}
  25%{background-color:yellow;
      color: red;}
  50%{background-color:green;}
  75%{background-color:brown;
      color: black;}
  100% {background-color: purple;}
  100%{background-color: black;
      color: white;}
}
