<h3 class="heading shadow p-3 mb-5">CONTACT US</h3>
<div class="container-fluid margin">
  <div class="row">
    <div class="col-3 contact shadow p-4 mb-5"><span>Borivali</span>
      <p>Shop No-9,Shailesh Aprtment,S.V.P.road,Borivali-(W),Mumbai-400103
        <b>Telephone:</b>6366998765</p>
    </div>
    <div class="col-3 contact2 shadow p-4 mb-5"><span>Thane</span>
      <p>Aga Khan Estate,Teen petrol pump,Opp.kotak life insurance,Mumbai-400602
        <b>Telephone:</b>6366998765</p>
    </div>
    <div class="col-3 contact1 shadow p-4 mb-5"><span>Pune(Camp)</span>
      <p>G1/A, Ground Floor,Parmar chember,BJ Road,Pune- 412032
        <b>Telephone:</b>6366998765</p>
    </div>
  </div>
</div>
